@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  cursor: default;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeSpeed;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

p {
  line-height: 1.5;
  margin: 0;
}

ol,
ul,
dl {
  margin: 0;
  padding: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  text-decoration: none;
  padding-bottom: 5px;
  transition: all 0.2s;
}

button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

select {
  cursor: pointer;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.2rem 0.6rem;
  border-radius: var(--borderRadius);
  border: 1px solid var(--borderColor);
  outline: none;
  transition: 0.5s;
}

select {
  word-wrap: normal;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}
