:root {
  --headrColor: wheat;
  --headerHeight: 60px;
  --footerColor: #d6b77c;
  --footerHeight: 50px;
  --borderRadius: 5px;
  --borderColor: #ccc;
  --dangerColor: red;
  --shadowColor: rgba(0 0 0 / 30%);
  --successColor:#28a745;
  --darkColor: black;
  --lightColor: white;
}
